/*  ------ Fonts for using -------
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Переменые */
:root {
    /* Главный цвет текста */
    --color-main-text: #212121; 
    /* Второстепенный цвет текста */
    --color-secondary-text: #757575;
    /* Цвет темы сайта */
    --color-theme: #2196F3; 
    /* Цвет при наведении кнопки intro */
    --color-btn-hover: #188CE8; 
    /* Эффект при наведении */
    --anim-link: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----- Обнуление css -------*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--color-main-text);
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

*,
*:before,
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p, li, ul, ol{
    margin: 0;
    padding: 0;
}

input{
    border: none;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

.width-website {
    max-width: 1600px;
    margin: 0 auto;
}

/*------------- Header ------------*/

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-inner {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.logo-text > span {
    color: var(--color-theme);
}

.list-style-none {
    list-style: none;
}

.nav {
    margin-left: 93px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.link-style {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: color var(--anim-link);
}

.nav-list-item {
    margin-right: 50px;
}

.nav-list-item:last-child {
    margin: 0;
}

.nav-item-link {
    color: var(--color-main-text);
    padding: 33px 0;
    position: relative;
}

.nav-item-link.current-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-theme);
}

.address-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.address-list-item:first-child {
    margin-right: 50px;
}

.address-item-link {
    color: var(--color-secondary-text);
    padding: 32px 0;
    display: flex;
    align-items: center;
}

.link-style:hover {
    color: var(--color-theme);
}

.nav-item-link.current-link {
    color: var(--color-theme);
}

.icone-contact {
    fill: currentColor;
    margin-right: 10px;
}

/*--------- Main -----------*/

    /*----------- Intro ------------*/

.intro {
    background-color: #2F303A;
    padding: 200px 0;
    background-image: url(../images/intro/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-inner {
   text-align: center; 

}

.intro-title-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.intro-title {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    width: 650px;
    text-align: center;
    color: white;
}

.btn-main-style {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    border: none;
    border-radius: 4px;
}

.intro-btn {
    color: white;
    font-weight: bold;
    background-color: var(--color-theme);
    padding: 10px 32px;
    line-height: 1.8;
    transition: background-color var(--anim-link);
    cursor: pointer;
    font-family: inherit;
}

.intro-btn:hover {
    background-color: var(--color-btn-hover);
}
/*---------- Modal-window ---------*/

.intro-backdrop {
    visibility: visible;
    pointer-events: initial;
    opacity: 1;

    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);

}

.intro-backdrop.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.intro-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 581px;
    width: 528px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 3px #7575758b;

}

.btn-close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill var(--anim-link);
}

.btn-close-modal:hover .icon-close-modal {
    fill: var(--color-theme);
}

.modalw-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------- Esplly --------------*/

.esplly {
    padding: 94px 0;
}

.esplly-list {
    display: flex;
    flex-wrap: wrap;
}

.esplly-list-item {
   width: calc((100% - 90px) / 4); 
   margin-right: 30px;
}

.esplly-list-item:nth-child(4n) {
    margin-right: 0;
}

.esplly-icons-block {
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esplyy-list-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.esplyy-list-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-secondary-text);
}

/*------------ About -----------*/

.about {
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
}

.about-list-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    position: relative;
}

.about-list-item:nth-child(3n) {
    margin-right: 0;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.about-title {
    margin-bottom: 40px;
}

.about-img {
    display: block;
}

.about-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #2f303ac1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

/*--------- Team ------------*/

.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-list-item {
    width: calc((100% - 90px) / 4); 
    margin-right: 30px;
}

.team-list-item:nth-child(4n) {
    margin-right: 0;
}

.team-title {
    margin-bottom: 50px;
}

.team-list-item {
    background-color: white;
    text-align: center;
    width: 270px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px #757575;
    margin-bottom: 10px;
}

.box-team-info {
    padding: 30px;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-main-text);
    margin: 0 auto 10px auto;
}

.team-profes {
    font-size: 16px;
    color: var(--color-secondary-text);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
}

.social-item {
    width: calc((100% - 30px) / 4); 
    margin-right: 10px;
}

.social-item:nth-child(4n) {
    margin-right: 0;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--anim-link);
}

.social-team-icon {
    fill: #AFB1B8;
    transition: fill var(--anim-link);
}

.social-link:hover {
    background-color: var(--color-theme);
}

.social-link:hover .social-team-icon {
    fill: #fff;
}

/*--------- Clients ----------*/

.clients {
    padding: 94px 0;
}

.clients-title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
}

.clients-item {
    margin-right: 30px;
    width: calc((100% - 150px) / 6);
}

.clients-item:nth-child(6n) {
    margin-right: 0;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--anim-link);
}

.clients-icon {
    fill: #AFB1B8;
    transition: fill var(--anim-link);
}

.clients-link:hover {
    border-color: var(--color-theme);
}

.clients-link:hover .clients-icon {
    fill: var(--color-theme);
}

/*------- Portfolio -------*/

.portfolio {
    padding: 94px 0 64px 0;
}

.btn-list {
    display: flex;
    justify-content: center;
}

.btn-list-item {
    margin: 0 4px;
}

.portfolio-list-item {
    margin-bottom: 34px;
}

.portfoilo-filter-btn {
    line-height: 1.6;
    color: var(--color-main-text);
    background-color: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--anim-link);
}

.portfoilo-filter-btn:hover {
    background-color: var(--color-theme);
    color: #fff;
    box-shadow: 0 3px 3px #7575758b;
}

.current-btn {
    background-color: var(--color-theme);
    color: #fff;
    box-shadow: 0 3px 3px #7575758b;
}

.portf-img-list {
    display: flex;
    flex-wrap: wrap;
}

.portf-img-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow var(--anim-link);
}

.portf-img-item:nth-child(3n) {
    margin-right: 0;
}

.portf-img-item:hover {
    box-shadow: 1px 2px 4px 1px #AFB1B8;
    cursor: pointer;
}

.portf-img-block {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.portf-images {
    width: 100%;
    height: auto;
    display: block;
}

.portf-overlay-block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: #2195f3e8;
    transform: translateY(100%);
    transition: transform var(--anim-link);
}

.portf-overlay-text {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.portf-img-item:hover .portf-overlay-block {
    transform: translateY(0);
}

.box-for-cont-card {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.portf-title {
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
    margin-bottom: 4px;
}

.portf-text {
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-secondary-text);
}


/*--------- Footer ------------*/

.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-item:first-child {
    width: 231px;
    margin-right: 70px;
}

.footer-item:nth-child(2) {
    width: 207px;
}

.footer-item:nth-child(3) {
    width: 570px;
    margin-left: auto;
}


.logo-text.footer {
    color: white;
    padding: 0;
}

.footer-address {
    margin-top: 20px;
}

.footer-list-item {
    margin-bottom: 9px;
}

.footer-list-item:last-child {
    margin: 0;
}

.footer-item-text {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    color: white;
}

.footer-item-link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.1s var(--anim-link);

}

.footer-title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-footer-icon {
    fill: #fff;
}

.social-link.social-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link.social-link-footer:hover {
    background-color: var(--color-theme);
}

.footer-form {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.footer-form-group {
    display: inline-flex;
    flex-direction: column;
    width: 358px;
    margin-right: 12px;
}

.footer-form-label {
    font-size: 14px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.15;
    margin-bottom: 20px;
}

.footer-form-field {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    width: 100%;
    padding: 0 16px;
    outline: transparent;
    color: #fff;
}

.footer-form-field:focus {
    border-color: var(--color-theme);
}

.footer-form-btn {
    background-color: var(--color-theme);
    border: none;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    transition: background-color var(--anim-link);
    cursor: pointer;
    font-family: inherit;
}

.footer-form-btn:hover {
    background-color: var(--color-btn-hover);
}

.ftr-form-btn-text {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
}

.ftr-form-btn-icon {
    fill: #fff;
}


    